In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

y = df_train["Purchase"]

df_train.drop(["Purchase"],axis=1,inplace=True)

In [3]:
df_train['User_Count']=df_train.groupby(['User_ID'])['User_ID'].transform('count')
df_train['Product_Count']=df_train.groupby(['Product_ID'])['Product_ID'].transform('count')
df_test['User_Count']=df_test.groupby(['User_ID'])['User_ID'].transform('count')
df_test['Product_Count']=df_test.groupby(['Product_ID'])['Product_ID'].transform('count')

In [4]:
df = pd.concat([df_train,df_test])
df.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,User_Count,Product_Count
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,35,227
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,35,581
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,35,102
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,35,341
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,77,203
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,29,615
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,14,1440
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,14,593
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,14,912
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,106,793

In [5]:
l = dict(df["Product_Category_1"].value_counts())
m = []

for i in df["Product_Category_1"]:
    m.append(l[i])
    
df["Product_Category_Count"] = m

In [6]:
df.drop(["Product_Category_2","Product_Category_3"],axis=1,inplace=True)

In [7]:
def df_transform_Age(x):
    if (x != '55+'):
        (min, max)=x.split('-')
        x = np.random.randint(int(min),int(max))
    else:
        x = np.random.randint(55,100)
    return x


df.Age=df.Age.apply(df_transform_Age)

for user in df.User_ID.unique():
    age=df.Age.loc[df.User_ID==user].values[0]
    df.Age.loc[df.User_ID==user]=age

C:\Users\20114\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
def Binned_Age(x):
    if int(x) <= 17 :
        x = "Teen Ages(0-17)"
    elif int(x) >= 18 and int(x)<25:
        x = 'Young Adult Ages(18-25)'
    elif int(x) >= 25 and int(x)<40:
        x = 'Middle Adult Ages(25-40)'
    elif int(x) >= 40 and int(x)<50:
        x = 'Adult Ages(40-50)'
    elif int(x) >= 50:
        x = 'Elderly(>50)'
    return x
df['Binned_Age'] = df.Age.apply(Binned_Age)

In [9]:
df["Occupation"] = df["Occupation"].astype(str)

In [10]:
df["Marital_Status"] = df["Marital_Status"].replace(1,"Maried").replace(0,"Single")

In [11]:
def df_transform_Stay_In_Current_City_Years(x):
    if (x == '4+'):
        x = np.random.randint(4,10)
    return x
df.Stay_In_Current_City_Years=pd.to_numeric(df.Stay_In_Current_City_Years.apply(df_transform_Stay_In_Current_City_Years))
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,User_Count,Product_Count,Product_Category_Count,Binned_Age
0,1000001,P00069042,F,6,10,A,2,Single,3,35,227,28791,Teen Ages(0-17)
1,1000001,P00248942,F,6,10,A,2,Single,1,35,581,200699,Teen Ages(0-17)
2,1000001,P00087842,F,6,10,A,2,Single,12,35,102,5610,Teen Ages(0-17)
3,1000001,P00085442,F,6,10,A,2,Single,12,35,341,5610,Teen Ages(0-17)
4,1000002,P00285442,M,56,16,C,7,Single,8,77,203,162294,Elderly(>50)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,32,15,B,9,Maried,8,205,75,162294,Middle Adult Ages(25-40)
233595,1006036,P00254642,F,32,15,B,6,Maried,5,205,69,215950,Middle Adult Ages(25-40)
233596,1006036,P00031842,F,32,15,B,7,Maried,1,205,78,200699,Middle Adult Ages(25-40)
233597,1006037,P00124742,F,48,1,C,5,Single,10,41,85,7373,Adult Ages(40-50)
233598,1006039,P00316642,F,49,0,B,9,Maried,4,29,166,16756,Adult Ages(40-50)

In [12]:
from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder()
onhot_cols = ['Occupation','City_Category']
categorical_columns = [x for x in df.columns if x not in onhot_cols]

categorical_columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'User_Count',
 'Product_Count',
 'Product_Category_Count',
 'Binned_Age']

In [13]:
df[categorical_columns] = df[categorical_columns].apply(lambda col: le.fit_transform(col))

df = pd.get_dummies(df, columns=onhot_cols)

In [14]:
from sklearn.preprocessing import StandardScaler

st = StandardScaler()
df = st.fit_transform(df)

In [15]:
df = pd.DataFrame(df)


X = df.iloc[:550068]
X_val = df.iloc[550068:]

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [17]:
from keras.models import Sequential
from keras.layers import Dense
from keras.regularizers import l2
from keras.callbacks import EarlyStopping
import matplotlib.pyplot as plt

Using TensorFlow backend.
C:\Users\20114\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\20114\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [18]:
"""def build_regressor(optimizer,lr):
    model = Sequential()
    model.add(Dense(40,input_dim = 35,kernel_initializer = "uniform",
                     kernel_regularizer = l2(lr) , bias_regularizer = l2(lr),
                     bias_initializer="zeros",activation="relu"))
    model.add(Dense(20,kernel_initializer = "uniform",
                     kernel_regularizer = l2(lr) , bias_regularizer = l2(lr),
                     bias_initializer="zeros",activation="relu"))
    model.add(Dense(1))
    model.compile(optimizer=optimizer,loss = "mean_squared_error")
    return model"""

'def build_regressor(optimizer,lr):\n    model = Sequential()\n    model.add(Dense(40,input_dim = 35,kernel_initializer = "uniform",\n                     kernel_regularizer = l2(lr) , bias_regularizer = l2(lr),\n                     bias_initializer="zeros",activation="relu"))\n    model.add(Dense(20,kernel_initializer = "uniform",\n                     kernel_regularizer = l2(lr) , bias_regularizer = l2(lr),\n                     bias_initializer="zeros",activation="relu"))\n    model.add(Dense(1))\n    model.compile(optimizer=optimizer,loss = "mean_squared_error")\n    return model'

In [19]:
"""from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasRegressor

model = KerasRegressor(build_fn=build_regressor)
parameters = {"batch_size":[10,25],"epochs":[100,50],"optimizer":["adam","rmsprop"],"lr":[0.1,0.01]}

grid_search = GridSearchCV(estimator=model,
                           param_grid = parameters,
                           scoring="neg_mean_squared_error",
                           cv=10,n_jobs=-1)

grid_search = grid_search.fit(X,y)
best_parameters = grid_search.best_params_
best_accuracy = grid_search.best_score_"""

'from sklearn.model_selection import GridSearchCV\nfrom keras.wrappers.scikit_learn import KerasRegressor\n\nmodel = KerasRegressor(build_fn=build_regressor)\nparameters = {"batch_size":[10,25],"epochs":[100,50],"optimizer":["adam","rmsprop"],"lr":[0.1,0.01]}\n\ngrid_search = GridSearchCV(estimator=model,\n                           param_grid = parameters,\n                           scoring="neg_mean_squared_error",\n                           cv=10,n_jobs=-1)\n\ngrid_search = grid_search.fit(X,y)\nbest_parameters = grid_search.best_params_\nbest_accuracy = grid_search.best_score_'

In [29]:
from xgboost import XGBRegressor

model = XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=10, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1,nrounds=500,cv=5)

model.fit(X_train,y_train)

[18:46:25] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, cv=5, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=-1, nrounds=500, nthread=None, objective='reg:linear',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [32]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test)

print(np.sqrt(mean_squared_error(y_test,y_pred)))

2573.068981764824